{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group content-section updateformfield">
                <legend>Update Employee Information</legend>
                <div>
                    <h5>Employee Basic Information</h5>
                    <div class="form-group">
                        {{ form.emp_name.label(class="form-control-label") }}
                        {% if form.emp_name.errors %}
                            {{ form.emp_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.emp_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.emp_name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    
                    <div>
                        {{ form.phone.label(class="form-control-label") }}
                        {% if form.phone.errors %}
                            {{ form.phone(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.phone.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phone(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.position.label(class="form-control-label") }}
                        {% if form.position.errors %}
                            {{ form.position(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.position.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.position(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.basic_salary.label(class="form-control-label") }}
                        {% if form.basic_salary.errors %}
                            {{ form.basic_salary(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.basic_salary.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.basic_salary(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.emp_status.label(class="form-control-label") }}
                        {% if form.emp_status.errors %}
                            {{ form.emp_status(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.emp_status.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.emp_status(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>

                
                <div class="update1">
                    <h5>Employee Working Overtimes</h5>
                    <div>
                        {{ form.in_time.label(class="form-control-label") }}
                        {% if form.in_time.errors %}
                            {{ form.in_time(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.in_time.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.in_time(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.out_time.label(class="form-control-label") }}
                        {% if form.out_time.errors %}
                            {{ form.out_time(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.out_time.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.out_time(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.other.label(class="form-control-label") }}
                        {% if form.other.errors %}
                            {{ form.other(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.other.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.other(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.duration.label(class="form-control-label") }}
                        {% if form.duration.errors %}
                            {{ form.duration(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.duration.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.duration(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    
                </div>


                <div class="update1">
                    <h5>Employee Working Allowances</h5>
                    <div>
                        {{ form.transportation_allowance.label(class="form-control-label") }}
                        {% if form.transportation_allowance.errors %}
                            {{ form.transportation_allowance(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.transportation_allowance.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.transportation_allowance(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.allowance.label(class="form-control-label") }}
                        {% if form.allowance.errors %}
                            {{ form.allowance(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.allowance.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.allowance(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.non_taxable_allo.label(class="form-control-label") }}
                        {% if form.non_taxable_allo.errors %}
                            {{ form.non_taxable_allo(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.non_taxable_allo.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.non_taxable_allo(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.other_deduction.label(class="form-control-label") }}
                        {% if form.other_deduction.errors %}
                            {{ form.other_deduction(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.other_deduction.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.other_deduction(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                
            </fieldset>
            <div id="updatesubmit" class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock %}