{% extends "layout.html" %}
{% block content %}
{% if datas %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tax_table_list.css') }}">
    <div class="maintable">
        <table border="1">
            <tr class=" table-dark table-active text-uppercase text-white">
                <th style="font-size:20px;">Id</th>
                <th style="font-size:20px;">Name</th>
                <th style="font-size:20px;">Phone No</th>
                <th style="font-size:20px;">position</th>
                <th style="font-size:20px;">Emp Status</th>
                <th style="font-size:20px;">Basic Salary</th>
                <th style="font-size:20px;">Overtime</th>
                <th style="font-size:20px;">Transportation Allowance</th>
                <th style="font-size:20px;">Non Taxable Allowance</th>
                <th style="font-size:20px;">Taxable Allowance</th>
                <th style="font-size:20px;">Growth Earning</th>
                <th style="font-size:20px;">Tax</th>
                <th style="font-size:20px;">Pension(7%)</th>
                <th style="font-size:20px;">Payroll Tax(11%)</th>
                <th style="font-size:20px;">Other Deduction</th>
                <th style="font-size:20px;">Total deduction</th>
                <th style="font-size:20px;">Net Pay</th>
            </tr>
            {% for data in datas %}
                <tr border="1">
                    <td style="font-size:20px;">{{ data.emp_id }}</td>
                    <td style="font-size:20px;">{{ data.emp_name }}</td>
                    <td style="font-size:20px;">{{ data.phone }}</td>
                    <td style="font-size:20px;">{{ data.position }}</td>
                    <td style="font-size:20px;">{{ data.emp_status }}</td>
                    <td style="font-size:20px;">{{ data.basic_salary }}</td>
                    <td style="font-size:20px;">{{ data.overtime }}</td>
                    <td style="font-size:20px;">{{ data.transportation_allowance }}</td>
                    <td style="font-size:20px;">{{ data.non_taxable_allo }}</td>
                    <td style="font-size:20px;">{{ data.allowance }}</td>
                    <td style="font-size:20px;">{{ data.growth_earning }}</td>
                    <td style="font-size:20px;">{{ data.tax }}</td>
                    <td style="font-size:20px;">{{ data.pension }}</td>
                    <td style="font-size:20px;">-</td>
                    <td style="font-size:20px;">{{ data.other_deduction }}</td>
                    <td style="font-size:20px;">{{ data.total_deduction }}</td>
                    <td style="font-size:20px;">{{ data.net_pay }}</td>
                </tr>
            {% endfor %}
            {% if totals %}
                <tr border="1">
                    <td style="font-size:20px;">101</td>
                    <td style="font-size:20px;">total</td>
                    <td style="font-size:20px;">-</td>
                    <td style="font-size:20px;">-</td>
                    <td style="font-size:20px;">-</td>
                    <td style="font-size:20px;">{{ totals.total_basic_salary }}</td>
                    <td style="font-size:20px;">{{ totals.total_overtime }}</td>
                    <td style="font-size:20px;">{{ totals.total_transportation_allowance }}</td>
                    <td style="font-size:20px;">{{ totals.non_taxable_allo }}</td>
                    <td style="font-size:20px;">{{ totals.total_allowance }}</td>
                    <td style="font-size:20px;">{{ totals.total_growth_earning }}</td>
                    <td style="font-size:20px;">{{ totals.total_tax }}</td>
                    <td style="font-size:20px;">{{ totals.total_pension }}</td>
                    <td style="font-size:20px;">{{ totals.payroll_tax }}</td>
                    <td style="font-size:20px;">{{ totals.total_other_deduction }}</td>
                    <td style="font-size:20px;">{{ totals.total_total_deduction }}</td>
                    <td style="font-size:20px;">{{ totals.total_net_pay }}</td>
                </tr>
        {% else %}
            <p>No totals found.</p>
        {% endif %}
        </table>
    </div>

        <div class="employeeupdate">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Find, Update or Delete employee by Id</legend>
        
                        <div class="form-group row">
                            <div class="col-sm-4">
                                {{ form.emp_id.label(class="form-control-label") }}
                                {% if form.emp_id.errors %}
                                    {{ form.emp_id(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.emp_id.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.emp_id(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="view" class="btn btn-outline-info">Find</button>
                            <button type="submit" name="update" class="btn btn-outline-info">Update</button>
                            <button type="submit" name="delete" id="del" class="btn btn-outline-danger">Delete</button>
                        </div>                     
                    </fieldset>
                </form>
            </div>
        </div>
         
    </div> 
{% else %}
    <p>No datas found.</p>
{% endif %}
{% endblock content %}
