{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group formfield">
                <div>
                    <legend class="border-botton mb-4">Add New Employee</legend>
                </div>
                <div>
                    {{ form.emp_name.label(class="form-control-label") }}
                    {% if form.emp_name.errors %}
                        {{ form.emp_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.emp_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.emp_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.position.label(class="form-control-label") }}
                    {% if form.position.errors %}
                        {{ form.position(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.position.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.position(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.emp_status.label(class="form-control-label") }}
                    {% if form.emp_status.errors %}
                        {{ form.emp_status(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.emp_status.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.emp_status(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.basic_salary.label(class="form-control-label") }}
                    {% if form.basic_salary.errors %}
                        {{ form.basic_salary(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.basic_salary.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.basic_salary(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.phone.label(class="form-control-label") }}
                    {% if form.phone.errors %}
                        {{ form.phone(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phone(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}